{% extends "base.html.jinja" %}
{% block styles %}
.wrap-table-text {
    word-wrap: break-word;
    max-width: 160px;
}
{% endblock %}
{% block maincontent %}
<div class="row justify-content-center">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <h2 class="text-center my-5">Goblin Cakes – Sales by {% if sort_table_by.quarter == '1' %}1st{% elif sort_table_by.quarter == '2' %}2nd{% elif sort_table_by.quarter == '3' %}3rd{% elif sort_table_by.quarter == '4' %}4th{% else %}{% endif %} Quarter</h2>
        {% if sales_table_data %}
        <p>
            <button class="btn btn-outline-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSortOptions" aria-expanded="false" aria-controls="collapseSortOptions" id="showFilterOptionsButton">Show Filter Options</button>
        </p>
        <div class="collapse" id="collapseSortOptions">
            <div class="card card-body">
                <form action="{{ url_for('sales.cakes') }}" method="get">
                    <div class="row my-3">
                        <fieldset>
                            <legend>Select a calender period:</legend>
                            <div class="btn-group" role="group" aria-label="Radio toggle button group">

                                <input type="radio" class="btn-check" name="quarter" id="btnradioquarter1" value="1" autocomplete="off" {% if sort_table_by.quarter=='1' %}checked{% endif %}>
                                <label class="btn btn-outline-secondary" for="btnradioquarter1">1st Quarter</label>

                                <input type="radio" class="btn-check" name="quarter" id="btnradioquarter2" value="2" autocomplete="off" {% if sort_table_by.quarter=='2' %}checked{% endif %}>
                                <label class="btn btn-outline-secondary" for="btnradioquarter2">2nd Quarter</label>

                                <input type="radio" class="btn-check" name="quarter" id="btnradioquarter3" value="3" autocomplete="off" {% if sort_table_by.quarter=='3' %}checked{% endif %}>
                                <label class="btn btn-outline-secondary" for="btnradioquarter3">3rd Quarter</label>

                                <input type="radio" class="btn-check" name="quarter" id="btnradioquarter4" value="4" autocomplete="off" {% if sort_table_by.quarter=='4' %}checked{% endif %}>
                                <label class="btn btn-outline-secondary" for="btnradioquarter4">4th Quarter</label>
                            </div>
                        </fieldset>
                    </div>
                    <div class="row my-3">
                        <fieldset>
                            <legend>Select product types:</legend>
                            <div class="form-check">
                                <input name="product_type" class="form-check-input" type="checkbox" value="Cake" id="flexCheckBoxDefault2" checked disabled>
                                <label class="form-check-label" for="flexCheckBoxDefault2">Cake</label>
                            </div>
                            {% for element_1 in list_of_product_types %}
                            {% if element_1 != 'Cake' %}
                            <div class="form-check">
                                <input name="product_type" class="form-check-input" type="checkbox" value="{{ element_1 }}" id="flexCheckBox{{ loop.index }}" {% for element_2 in sort_table_by.product_type %}{% if element_2 == element_1 %}checked{% endif %}{% endfor %}>
                                <label class="form-check-label" for="flexCheckBox{{ loop.index }}">{{ element_1 }}</label>
                            </div>
                            {% endif %}
                            {% endfor %}
                            <div class="form-check">
                                <input name="product_type" class="form-check-input visually-hidden" type="hidden" value="Cake" id="flexCheckBoxDefault1" checked>
                                <label class="form-check-label visually-hidden" for="flexCheckBoxDefault1">Cake</label>
                            </div>
                        </fieldset>
                    </div>
                    <div class="row g-3">
                        <div class="col-md-6">
                            <label for="sortByInput1" class="form-label">Sort Table By</label>
                            <select name="table_attribute" class="form-select" aria-label="Sort Entry Status Table By" id="sortByInput1" value="{{ sort_table_by.table_attribute }}">
                                {% for element in list_of_table_attributes %}
                                {% if element.db_label != 'id' and element.db_label != 'total_sale_value' %}
                                <option {% if element.db_label==sort_table_by.table_attribute %}selected{% endif %} value="{{ element.db_label }}" label="{{ element.full_label }}"></option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label for="orderByDescendingInput1" class="form-label">Display Order</label>
                            <select name="order_by_descending" class="form-select" aria-label="Display Order" id="orderByDescendingInput1" value="{{ sort_table_by.order_by_descending }}">
                                <option {% if sort_table_by.order_by_descending=='0' %}selected{% endif %} value="0" label="Ascending"></option>
                                <option {% if sort_table_by.order_by_descending=='1' %}selected{% endif %} value="1" label="Descending"></option>
                            </select>
                        </div>
                    </div>
                    <div class="d-grid gap-2 col-6 mx-auto my-5">
                        <button type="submit" class="btn btn-primary btn-lg">FILTER TABLE</button>
                    </div>
                </form>
            </div>
        </div>
        <table class="table table-responsive table-hover shadow p-3 mb-5 bg-body rounded">
            <thead>
                <tr>
                    {% for element in list_of_table_attributes %}
                    {% if element.db_label != 'id' %}
                    <th scope="col" class="text-center">{{ element.full_label }}</th>
                    {% endif %}
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for element_row in sales_table_data %}
                <tr>
                {% for key, value in element_row.items() %}
                    {% if key != 'id' %}
                    <td class="wrap-table-text text-center">{{ value }}</td>
                    {% endif %}
                {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="row justify-content-center">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <h3 class="text-center">Doughnut chart showing units sold during the {% if sort_table_by.quarter == '1' %}1st{% elif sort_table_by.quarter == '2' %}2nd{% elif sort_table_by.quarter == '3' %}3rd{% elif sort_table_by.quarter == '4' %}4th{% else %}{% endif %} quarter</h3>
                <canvas id="doughnut_chart" width="400" height="400"></canvas>
            </div>
            <div class="col-lg-2"></div>
        </div>
        {% else %}
        <div class="shadow p-3 mb-5 bg-body rounded justify-content-center text-center my-5">
            <h3 class="mb 3">No Entries found</h3>
        </div>
        {% endif %}
    </div>
    <div class="col-md-3"></div>
</div>
{% endblock %}
{% block scripts %}
    
    const ctx = document.getElementById('doughnut_chart').getContext('2d');

    const generate_doughnut_chart_data = function() {
        const sales_table_data = {{ sales_table_data }};
        var doughnut_chart_data = {
            labels: [],
            datasets: [{
                label: 'My First Dataset',
                data: [],
                backgroundColor: [],
                hoverOffset: 5
            }]
        };
        const generate_rgb_colour = function() {
            var r = Math.floor(Math.random() * 255);
            var g = Math.floor(Math.random() * 255);
            var b = Math.floor(Math.random() * 255);
            return "rgb(" + r + "," + g + "," + b + ")";
        };
        for (var i = 0; i < sales_table_data.length; i++) {
            doughnut_chart_data.labels.push(sales_table_data[i].product);
            doughnut_chart_data.datasets[0].data.push(
                sales_table_data[i].units_sold
            );
            doughnut_chart_data.datasets[0].backgroundColor.push(
                generate_rgb_colour()
            );
        }
        return doughnut_chart_data;
    };

    const doughnut_chart_config = new Chart(ctx, {
        type: 'doughnut',
        data: generate_doughnut_chart_data(),
        options: {
            responsive: true
        }
    });

    const showFilterOptionsButton = (
        document.getElementById('showFilterOptionsButton')
    );

    showFilterOptionsButton.addEventListener('click', function(element) {
        showFilterOptionsButton.innerHTML = 
            (showFilterOptionsButton.getAttribute('aria-expanded')) === 'true' ?
                'Hide Filter Options' :
                'Show Filter Options';
    });
    
{% endblock %}