<table class="table table-responsive table-hover shadow p-3 mb-5 bg-body rounded">
    <thead>
        <tr>
            {% for element in list_of_table_attributes %}
            {% if element.db_label != 'id' %}
            <th scope="col" class="text-center">{{ element.full_label }}</th>
            {% endif %}
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for element_row in sales_table_data %}
        <tr>
        {% for key, value in element_row.items() %}
            {% if key != 'id' %}
            <td class="wrap-table-text text-center">{{ value }}</td>
            {% endif %}
        {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>